<mat-sidenav-container class="sidenav-container">  
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/shopping-cart">Shopping Cart</a>
      <a mat-list-item routerLink="/check-out">Check Out</a>      
      <a mat-list-item routerLink="/login">Login</a>      
    </mat-nav-list>
    <ul class="list-unstyled">
      <li>
        <div style="padding-left:8%" ngbDropdown class="d-inline-block">
          <button style="min-width:100px" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>User</button>
          <div style="border:none" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item"><a routerLink="/my-orders">My Orders</a></button>
            <button class="dropdown-item"><a routerLink="/admin/orders">Manage Orders</a></button>
            <button class="dropdown-item"><a routerLink="/admin/products">Manage Products</a></button>
            <button class="dropdown-item"><span style="color: #007bff">Logout</span></button>
          </div>
        </div>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>E-Com Shopper</span>
    </mat-toolbar>
    <div (click)="toggle()" style="padding:10px">
      <router-outlet></router-outlet>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>
